/**
 * nav-pills
 *
 */
.ui_bb {

  .bootcamp {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;

    /*width: 100%;*/
    padding-top: 40px;
    padding-right: 5%;
    font-size: 20px;
    background-color: rgba(101, 190,178,0.6);

    .image {
      background-position: center center;
      background-repeat: no-repeat;
     /*border-bottom: 1px solid #F1EFAF;*/
      display: block;
      height: 133px;
      position: relative;
      background-size: 140px;
    }

    h1 {
     margin-left: auto;
     margin-right: auto;
     border-top: medium none;
     font-size: 30px;
     padding-right: 8px 10px; 

     width:1070px;
     color: $black;
    }

    .bootcamp-body {
      overflow: hidden;
      height: 400px;
      width: 1070px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;

      /*padding-left:110px;*/
    }

    ul li {
      display: block;
      float: left;
      font-size:13px;
      font-weight: normal;
      height: 215px;
      /*margin: 30px 15px 0px 25px;*/
      position: relative;
      width: 215px;
      border-radius: 1000px;
      color: rgb(102, 102, 102);
      box-shadow: 0px 0px 10px rgba(64, 64, 64, 0.2);
      background: rgb(252, 252, 252);
      margin: 30px 100px 0px 25px;


      li a {
        color: #666666;
        text-decoration: none;
      }

      &.landing_page {
        padding: 0px;
        margin: auto auto 9px 25px;
        border: $guide;
      }
    }

    .desc {
      background-repeat: no-repeat;
      display: block;
      height: 50px;
      overflow: hidden;
      padding: 13px 0px 15px 15px;
      position: relative;
      z-index: 2;
      border: none;

      h2 {
        color: #393939;
        font-size: 15px;
        margin: 0;
        padding: 0;
      }

      p {
        line-height: 1.2em;
        margin: 0;
        padding: 0;
        color: white;
      }
    }

    .step-number {
      background-image: url("themes/ui_bb/largenumb_sprites.png");
      background-repeat: no-repeat;
      bottom: 0;
      display: block;
      height: 80px;
      position: absolute;
      right: 0;
      width: 64px;
      z-index: 0;
    }

    .setup .image {
      background-image: url("themes/ui_bb/icons-01.png");
      height: 215px;
      border-radius: 1000px;
    }

    .create-a-repo .image {
      background-image: url("themes/ui_bb/icons-02.png");
      height: 215px;
      border-radius: 1000px;
    }

    .fork-a-repo .image {
      background-image: url("themes/ui_bb/icons-03.png");
      height: 215px;
      border-radius: 1000px;
    }


    .one {
      background-position: 0 0;
    }

    .two {
      background-position: -64px 0;
    }

    .three {
      background-position: -128px 0;
    }


    h1 span {
      /*color: #E9F1F4;*/
      font-size: 70%;
      font-weight: normal;
      text-shadow: none;
    }

  }

}