.ui_bb{

  .btn {
  text-shadow: none;
  border: none;
  background: none;
  color: white !important;
  /*box-shadow:  0.2px 0.5px 0.5px rgb(64, 64, 64); */
  box-shadow: 0.3px 1px 1px rgb(135,135,135);  
  border-radius: 100px !important;
  /*background: none repeat scroll 0% 0% rgba(64, 64, 64, 0.5);*/
  background: $button_color !important;
  font-size: 12px;
  font-weight: 700;
  margin-right: 5px !important;
  padding: 4px 12px;
  /*text-transform: uppercase;*/
  /*margin-left: 5px !important;*/

  &:hover {
    background-color: $blue_darker !important;
    color: white;
    box-shadow: none;
  }

  &.btn-primary {
    background: $button_color;
    font-size: 11.7px !important;


    &:hover {
      background: $primary_color;
      color: #fff;
    }

    &.disabled {
      color: #fff;
      background: #29B;
    }
  }

  &.btn-info {
    background: #5aB9C3;
    border-color: $primary_color;
    color: #fff;
    text-shadow: 0 1px 1px #268;
    &:hover {
      background: $primary_color;
      color: #fff;
    }

    &.disabled {
      color: #fff;
      background: #29B;
    }
  }

  &.success {
    @extend .btn-success;

    &:hover {
      @extend .btn-success;
      background: #51a351;
    }

    &.disabled {
      color: #fff;
      background: #2b2;
    }
  }

    &.btn-create {
    @extend .wide;
    @extend .success;

    margin-top: 0px;
  }

  &.btn-save {
    /*@extend .wide;*/
    @extend .btn-primary;
  }

  &.btn-close,
  &.btn-remove {
    @extend .btn-danger;
    border-color: #BD362F;

    &:hover {
      color: #fff;
      background: #EE4E49;
    }
  }

  &.btn-cancel {
    float: right;
  }

  &.wide {
    margin-top: -21px;
    margin-left: 10px;
    /*background: $blue_light;*/
    /*box-shadow: 1px 1px 1px 1px rgb(64, 64, 64);*/
    /*font-style: italic;*/
    
/*    display: block;
    margin: auto;
    font-family: $default-font-family;
    font-weight: 700;
    margin-bottom: 10px;*/

    &:hover{
      background-color: $blue_darker;
      color: white;
      box-shadow: none;

      /*background: none repeat scroll 0% 0% rgb(47, 160, 187);
      box-shadow: 0px 0px 4px rgba(47, 160, 187, 0.4);*/
    }

  }

  &.small {
    /*@extend .btn-small;*/
  }

  &.active {
    border-color: #aaa;
    box-shadow: none;
    background-color: $blue_darker;
  }

  &.btn-tiny {
    font-size: 11px;
    /*font-weight: 600;*/
    /*padding: 4px 8px;*/
    line-height: 16px;
    margin: 2px;
  }

  &.btn-tiny.info{
    font-size: 11px;
    padding: 2px 6px;
    background: rgba(77, 77, 77, 0.8);

    &:hover{
      background: $blue_darker;
      color: white;
      box-shadow: none;
    }
  }

  &.grouped {
    margin-right: 7px;
    float: left;
    background: rgba(63,63,63,0.9);
  }

  &.padded {
    margin-right: 3px;
    padding: 4px 10px 4px;
  }
}

  .login-box{
    .btn{
      &.btn-create, &.btn-primary{
      /*@extend .wide;
      @extend .success;*/

      width: 200px;
      display: block;
      text-transform: uppercase;
      background: none;
      border:none;
      border-radius: 2px !important;
      box-shadow: none;
      text-shadow: none;
      background-color: rgb(54, 98, 174) !important;
      /*color: #fff;*/
      padding: 10px 70px;
      margin-top: 0px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      /*margin-bottom: 14px;*/
      margin-bottom: 24px;


      font-size: 13px;
      font-weight: 700;
      font-family: $default-font-family !important;

      &:hover{
        background: none repeat scroll 0% 0% rgb(37, 174, 160) !important;
      }
      }
    }
  }

  .btn{
    &.btn-primary{
      &.wide{
        &.commits-compare-btn{
          margin: 0px;
          &.disabled{
            background: red;
          }
        }
      }
    }
  }

}