.profile_history {
  box-shadow: 0px 0px 5px rgba(64, 64, 64, 0.4);
  .event_feed {
    min-height: 20px;
    .avatar {
      width: 20px;
    }
  }
}

.profile_avatar_holder {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  img {
    width: 60px;
    height: 60px;
    background: #fff;
    padding: 1px;
    border: 1px solid #ddd;
  }
}
