/**
 * This is the BlackBerry theme file, as much as possible this theme is contained here
 *
 */
/*@font-face {
  font-family: dincond-regular;
  src: font-url ('DinCond-Regular.otf');
}
*/


@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic,700,300italic|Open+Sans+Condensed:300,700&subset=latin,latin-ext');
@import "ui_bb/variables.scss";
@import "ui_bb/login.scss";
@import "ui_bb/buttons.scss";
@import "ui_bb/nav.scss";
@import "ui_bb/common.scss";
@import "ui_bb/projects.scss";
@import "ui_bb/events.scss";
@import "ui_bb/typography.scss";
@import "ui_bb/bootstrap-lists.scss";
@import "ui_bb/blocks.scss";
@import "ui_bb/buttons.scss";
@import "ui_bb/mixins.scss";
@import "ui_bb/tables.scss";
@import "ui_bb/commits.scss";
@import "ui_bb/issues.scss";
@import "ui_bb/bootcamp.scss";
@import "ui_bb/profile.scss";
@import "ui_bb/common-bootstrap.scss";
@import "ui_bb/merge_requests.scss";


/*FOR MOBILE*/
@media only screen and (width:1280px) {
  body.ui_bb {
    /*min-width:1380px !important;*/
    
    /*border: 5px solid blue;*/
  }
}

.ui_bb {
 
  /*
   *  Application Header
   *
   */

  header {
    @extend .header-dark;
    &.navbar-gitlab {
      .navbar-inner {
        background-color: $header_color;
        padding-top: 13px;
        padding-left: 80px;
        padding-right: 40px;
        /*border-bottom: 5px solid $border_header;*/
        border-bottom: none;
        box-shadow: 0px 1px 6px rgba(64, 64, 64, 0.7);
        height: 55px;
        min-width: 600px;

        .app_logo {
          &:hover {
            background-color: $darkwall-hover;

          }
        }
        .separator {
          background: #456;
          border-left: 1px solid #678;
        }
      }
    }
  
  .search {
    margin-right: 45px;
    margin-left: 10px;
    margin-top: 2px;

    .search-input {
      @extend .span2;
      background-image: url("icon-search.png");
      background-repeat: no-repeat;
      background-position: 10px;
      padding-left: 25px;
      font-size: 13px;
      @include border-radius(3px);
      border: 1px solid #c6c6c6;
      box-shadow: none;
      font-weight: 700;
      background-color: rgba(255,255,255,0.8);
      width: 500px;

      &:focus {
        @extend .span3;
        padding-left: 30px;
      }
    }
  }
  }
}



/**
 * common.scss Overrides
 *
 */

body.ui_bb {
  margin-bottom:0px;
  font-size:13px;
  line-height: 18px;
  color: rgb(137,137,137);
  
  background-color: $gray;
  width:100%;
  height:100%;
  font-family: $default-font-family;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  
}

.ui_bb {

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container .content {
  margin-top: -20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  min-width: 1175px;
}

.remember_me {
  text-align: left;
  /*margin-left: 20px;*/
  display: block;
  margin-bottom: -15px;
  /*color:rgb(64, 64, 64);*/

  input {
    margin: 0;
  }

  span {
    padding-left: 5px;
  }
}


.error_message {
  @extend .cred;

  padding: 10px;
  background: #FFDACA;
  padding-left: 20px;
  margin-top: 20px;
  border-left: none;


  &.centered {
    text-align: center;
  }
}

.control-group {
  .controls {
    span {
      &.descr {
        position: relative;
        top: 2px;
        left: 5px;
        color: #666;
      }
    }
  }

  .content_list{
    background-color: white;
  }
}

}

/*
 * blocks.scss overrides
 */

.ui_bb {

.main_box {

  @extend .prepend-top-20;
  @extend .append-bottom-20;
}
}

/**
* Big UI Block for show page content
*
*/
.ui_bb {
.ui-box {


  box-shadow: 0px 4px 9px rgba(64, 64, 64, 0.17);
  margin-bottom: 25px;
  border: none;


  &.white {
    background: #fff;
  }

  ul {
    margin: 0;
  }

  h5, .title {


    background: rgb(54, 98, 174);
    text-shadow: none;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px;
    border:none;


    > a {
    text-shadow:none;
    }

    &.small {
      line-height: 28px;
      font-size: 14px;
      line-height: 28px;
     /* text-shadow: 0 1px 1px white;*/
    }

    form {
      padding: 9px 0;
      margin: 0px;
    }

    .nav-pills {
      li {
        padding: 3px 0;
        &.active a {
          background-color: $style_color;
          color:white;
        }
        a {
          @include border-radius(7px);
          color: rgb(188, 190, 192);
        }
      }
    }
  }

  .bottom {
    @include bg-gray-gradient;
    @include border-radius(0 0 4px 4px);
    border-bottom: none;
    border-top: 1px solid #bbb;
  }

  &.padded {
    h5, .title {
      margin: -20px;
      margin-bottom: 0;
      padding: 5px 20px;
    }
    .middle_title {
      background: #f5f5f5;
      margin:20px -20px;
      padding: 0 20px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      color: #777;
    }
  }
  .row_title {
    font-weight: bold;
    color: #444;
    &:hover {
      color: #444;
      text-decoration: underline;
    }
  }

  .ui-box-body {
    padding: 10px;
  }
}

/*
 *
 * admin.scss Overrides
 *
 */
.admin-filter form {
  label { width: 110px; color: $black;}
  .controls { margin-left: 130px; }
  .form-actions { padding-left: 130px; background: $gray }
}
/*
 *
 * avatar.scss Overrides
 *
 */

/** AVATARS **/
img.avatar { float: left; margin-right: 12px; width: 40px; border: 1px solid #ddd; padding: 1px; }
img.avatar.s16 { width: 16px; height: 16px; margin-right: 6px; }
img.avatar.s24 { width: 40px; height: 40px; margin-right: 10px; }
img.avatar.s32 { width: 32px; height: 32px; margin-right: 10px; }
img.avatar.s90 { width: 90px; height: 90px; margin-right: 15px; }
img.lil_av { padding-left: 4px; padding-right: 3px; }
img.small { width: 80px; }

  /**
   *
   * Account box
   *
   */
  .account-box {
    position: absolute;
    right: 0;
    top: 6px;
    z-index: 10000;
    width: 128px;
    font-size: 11px;
    float: right;
    display: block;
    cursor: pointer;
    img {
      @include border-radius(100px);
      right: 5px;
      position: absolute;
      width: 30px;
      height: 30px;
      display: block;
      top: 1px;
      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        float: right;
        @include border-radius(5px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.25))),
                    -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)),
                    -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
        background: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)),
                    linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
        -webkit-background-origin: border-box;
        -moz-background-origin: border;
  background-origin: border-box; } } }

  .account-box {
    &.hover {
    height: 138px; }
    &:hover > .account-links {
  display: block; } }

  .account-links {
    @include border-radius(5px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    &:before {
      content: ".";
      width: 0;
      height: 0;
      position: absolute;
      border: 5px solid transparent;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #555;
      text-indent: -9999px;
      top: -10px;
      line-height: 0;
      right: 10px;
    z-index: 10; }
    background: #555;
    display: none;
    z-index: 100000;
    @include border-radius(4px);
    width: 130px;
    position: absolute;
    right: 5px;
    top: 38px;
    margin-top: 0;
    float: right;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    a {
      color: #fff;
      padding: 12px 15px;
      display: block;
      text-shadow: none;
      border-bottom: 1px solid #666;
      font-size: 12px;
      &:hover {
        color: #fff;
        background: #333;
      }
    }
  }

  .account-box.hover .arrow-up {
    top: 41px;
    right: 6px;
    position: absolute; }

  .account-links a {
    &:first-child {
      @include border-radius(5px 5px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 5px 5px);
      border-bottom: 0;
    }
  }

  form {
        border: none;
        box-shadow: none;
        color: $default-font-color;
  }

  hr {
    display: hidden;  
  }

}



